# ---------------------------------
# Banco de dados
# ---------------------------------


POSTGRES_SERVER=localhost
POSTGRES_PORT_HOST=SUA_PORTA_HOST
POSTGRES_PORT_CONTAINER=SUA_PORTA_NO_CONTAINER
POSTGRES_USER=SEU_USUÁRIO
POSTGRES_PASSWORD=SUA_SENHA
POSTGRES_DB=SEU_BANCO


# ---------------------------------
# Backend
# ---------------------------------
BACKEND_PORT_HOST=SUA_PORTA_HOST
BACKEND_PORT_CONTAINER=8080

# ---------------------------------
# Frontend
# ---------------------------------

FRONTEND_PORT_HOST=SUA_PORTA_HOST
FRONTEND_PORT_CONTAINER=80